Librerie/IKGD_Auth_Modules/Service References/SSO_ServiceClient/SSO_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sso.ikon.it/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sso.ikon.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sso.ikon.it/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="VerifyToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyTokenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:SSO_UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SSO_UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserVariables" type="tns:ArrayOfSSO_UserVariable" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="IdLL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Areas" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSSO_UserVariable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SSO_UserVariable" nillable="true" type="tns:SSO_UserVariable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SSO_UserVariable">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyParent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeEnum" type="tns:SSO_KEYVALUE_TypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueInt" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueDouble" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueDateExt" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ValueString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SSO_KEYVALUE_TypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Double" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="DateTimeRange" />
          <s:enumeration value="Boolean" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserInfoExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="getRoles" nillable="true" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="getAreas" nillable="true" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="getVariables" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoExtResult" type="tns:SSO_UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRolesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAreas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserAreasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserVariables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserVariablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserVariablesResult" type="tns:ArrayOfSSO_UserVariable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserVariablesPublic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserVariablesPublicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserVariablesPublicResult" type="tns:ArrayOfSSO_UserVariable" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyTokenSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyToken" />
  </wsdl:message>
  <wsdl:message name="VerifyTokenSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoExtSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoExt" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoExtSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoExtResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserAreasSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserAreas" />
  </wsdl:message>
  <wsdl:message name="GetUserAreasSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserAreasResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserVariablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserVariables" />
  </wsdl:message>
  <wsdl:message name="GetUserVariablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserVariablesPublicSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserVariablesPublic" />
  </wsdl:message>
  <wsdl:message name="GetUserVariablesPublicSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserVariablesPublicResponse" />
  </wsdl:message>
  <wsdl:portType name="SSO_ServiceSoap">
    <wsdl:operation name="VerifyToken">
      <wsdl:input message="tns:VerifyTokenSoapIn" />
      <wsdl:output message="tns:VerifyTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoExt">
      <wsdl:input message="tns:GetUserInfoExtSoapIn" />
      <wsdl:output message="tns:GetUserInfoExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input message="tns:GetUserRolesSoapIn" />
      <wsdl:output message="tns:GetUserRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAreas">
      <wsdl:input message="tns:GetUserAreasSoapIn" />
      <wsdl:output message="tns:GetUserAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserVariables">
      <wsdl:input message="tns:GetUserVariablesSoapIn" />
      <wsdl:output message="tns:GetUserVariablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserVariablesPublic">
      <wsdl:input message="tns:GetUserVariablesPublicSoapIn" />
      <wsdl:output message="tns:GetUserVariablesPublicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSO_ServiceSoap" type="tns:SSO_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyToken">
      <soap:operation soapAction="http://sso.ikon.it/VerifyToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://sso.ikon.it/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://sso.ikon.it/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://sso.ikon.it/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoExt">
      <soap:operation soapAction="http://sso.ikon.it/GetUserInfoExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://sso.ikon.it/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAreas">
      <soap:operation soapAction="http://sso.ikon.it/GetUserAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserVariables">
      <soap:operation soapAction="http://sso.ikon.it/GetUserVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserVariablesPublic">
      <soap:operation soapAction="http://sso.ikon.it/GetUserVariablesPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSO_ServiceSoap12" type="tns:SSO_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyToken">
      <soap12:operation soapAction="http://sso.ikon.it/VerifyToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://sso.ikon.it/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoExt">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserInfoExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAreas">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserVariables">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserVariables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserVariablesPublic">
      <soap12:operation soapAction="http://sso.ikon.it/GetUserVariablesPublic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSO_Service">
    <wsdl:port name="SSO_ServiceSoap" binding="tns:SSO_ServiceSoap">
      <soap:address location="http://localhost:57969/SSO/SSO_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SSO_ServiceSoap12" binding="tns:SSO_ServiceSoap12">
      <soap12:address location="http://localhost:57969/SSO/SSO_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>